@media screen and (min-width: 480px) {
    .container {
        max-width: 426px;
    }

    .team > .container {
        max-width: 294px;
    }

    .advantage > .container {
        max-width: 426px;
    }

    .hero-section > .container {
        max-width: 428px;
    }

    .footer > .container {
        max-width: 428px;
    }

    .modal > .container {
        max-width: 428;
    }
}
